.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f3faff;
  }
  
  .footer-section p, .footer-section a {
    font-size: 14px;
    color: #ccc;
    line-height: 1.6;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #fff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #aaa;
  }
  
  .footer-bottom a {
    color: #f3faff;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  
  
  @media (max-width: 480px) {
    .main-text h1 {
      font-size: 3rem;
    }
  
    .main-section .links-items ul li {
      font-size: 16px;
    }
    .main-section .links-items{
      display: flex;
    }
    .main-section .links-items ul li {
      display: flex;
    }
    
  
}